<div class="container custom-container-2">
    <!-- <table>
        <tr *ngFor="let client of clients">
            <td>{{ client | json }}</td>
        </tr>
    </table> -->
    <br>
    <div *ngIf="clients.length !== 0">
        <div class="d-flex justify-content-between align-items-center">
            <h1>Lista de clientes</h1>
            <button class="btn btn-primary" routerLink="/">Crear cliente</button>
        </div>
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Ver</th>
                        <th scope="col">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let client of clients">
                        <td>{{ client.clienteId }}</td>
                        <td>{{ client.clienteNombre }}</td>
                        <td class="text-center">
                            <button class="btn btn-primary me-2">Apikeys</button>
                            <button class="btn btn-info text-white">Transacciones</button>
                          </td>
                        <td class="text-center">
                            <button class="btn btn-warning">Editar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>