<div class="container-fluid vh-100 overflow-auto">
  <!-- Jumbotron con título -->
  <div class="jumbotron text-center mb-1 p-2 bg-light border rounded shadow-lg">
    <h1 class="display-3 fw-bold text-primary text-uppercase">{{ title }}</h1>
</div>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm rounded">
    <div class="container">
      <a class="navbar-brand text-primary" routerLink="home">Techpay</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div *ngIf="authenticated" class="collapse navbar-collapse" id="navbarNav">
        <!-- Lista de enlaces principales -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="transactions" routerLinkActive="active">Transacciones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="apikeys" routerLinkActive="active">Apikeys</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="clients" routerLinkActive="active">Clientes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="reports" routerLinkActive="active">Reportes</a>
          </li>
        </ul>

        <!-- Espacio para el componente de usuario -->
        <ul class="navbar-nav ms-auto d-flex">
          <li class="nav-item">
            <app-user></app-user>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Contenido de la aplicación -->
  <router-outlet></router-outlet>
</div>
