<div class="container custom-container-2">
    <br>
    <!-- Tabla de empleados, se oculta cuando no existen registros -->
    <div *ngIf="transactions.length !== 0">
        <div class="d-flex justify-content-between align-items-center">
            <h1>Lista de transacciones</h1>
            <button class="btn btn-primary" routerLink="/transactionscreate">Crear transacción</button>
        </div>
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Moneda</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Estado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let transaction of transactions">
                        <td>{{ transaction.transaccionId }}</td>
                        <td>${{ transaction.transaccionMonto }}</td>
                        <td>{{ transaction.transaccionFecha }}</td>
                        <td>{{ transaction.transaccionMoneda }}</td>
                        <td>{{ transaction.transaccionDescripcion }}</td>
                        <td>{{ transaction.cliente.clienteNombre }}</td>
                        <td>
                            <ng-container [ngSwitch]="+transaction.estadotransaccion.estadotrId">
                                <span *ngSwitchCase="1" class="text-danger fs-5">
                                    <i class="bi bi-x-circle-fill"></i> API KEY inválida
                                </span>
                                <span *ngSwitchCase="2" class="text-danger fs-5">
                                    <i class="bi bi-exclamation-triangle-fill"></i> Datos incorrectos
                                </span>
                                <span *ngSwitchCase="3" class="text-danger fs-5">
                                    <i class="bi bi-x-octagon-fill"></i> Rechazada
                                </span>
                                <span *ngSwitchCase="4" class="text-success fs-5">
                                    <i class="bi bi-check-circle-fill"></i> Aprobada
                                </span>
                                <span *ngSwitchCase="5" class="text-warning-dark fs-5">
                                    <i class="bi bi-hourglass-split"></i> Pendiente
                                </span>
                                <span *ngSwitchDefault class="text-dark fs-5">
                                    <i class="bi bi-question-circle-fill"></i> Estado desconocido
                                </span>
                            </ng-container>                            
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>