<div class="p-4">
    <!-- Tabla de empleados, se oculta cuando no existen registros -->
    <div *ngIf="transactions.length !== 0">
        <div class="d-flex justify-content-between align-items-center">
            <h1>Lista de transacciones</h1>
            <!-- <button class="btn btn-primary" routerLink="/transactions-create">Crear transacción</button> -->
        </div>
        <div class="col-md-12"> <!-- TABLA INICIA AQUI-->
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Moneda</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Estado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let transaction of transactions">
                        <td class="text-center">{{ transaction.transaccionId }}</td>
                        <td>${{ transaction.transaccionMonto }}</td>
                        <td>{{ transaction.transaccionFecha }}</td>
                        <td class="text-center">{{ transaction.transaccionMoneda }}</td>
                        <td>{{ transaction.transaccionDescripcion }}</td>
                        <td>{{ transaction.cliente.clienteNombre }}</td>
                        <td class="text-center">
                            <ng-container [ngSwitch]="+transaction.estadotransaccion.estadotrId">
                                <i *ngSwitchCase="1" class="bi bi-x-circle-fill text-danger fs-4" title="API KEY inválida"></i>
                                <i *ngSwitchCase="2" class="bi bi-exclamation-triangle-fill text-danger fs-4" title="Datos incorrectos"></i>
                                <i *ngSwitchCase="3" class="bi bi-x-octagon-fill text-danger fs-4" title="Rechazada"></i>
                                <i *ngSwitchCase="4" class="bi bi-check-circle-fill text-success fs-4" title="Aprobada"></i>
                                <i *ngSwitchCase="5" class="bi bi-hourglass-split text-warning-dark fs-4" title="Pendiente"></i>
                                <i *ngSwitchDefault class="bi bi-question-circle-fill text-dark fs-4" title="Estado desconocido"></i>
                            </ng-container>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>